{% extends "layout.html" %}
{% block content %}

    <div class="container py-5">
		<h1 class="font-weight-bold px-4">Welcome back {{ current_user.first[0]|upper }}{{ current_user.first[1:] }} {{ current_user.last[0]|upper }}{{ current_user.last[1:] }}!</h1>
        
        <div class="row">
            <div class="col mx-0 my-3 mx-sm-4 my-sm-4">
                <a href="{{ url_for('listings.createListing') }}" class="text-decoration-none listing ">
                    <div class="account-navs text-center p-5 btn-form btn-register">

                        <h3 class="font-weight-bold ">Create Listing</h3>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col mx-0 my-3 mx-sm-4 my-sm-4">
                <a href="{{ url_for('listings.allListings') }}" class="text-decoration-none listing">
                    <div class="account-navs bg-white text-center p-5">
                        <img class="m-4" id="company-image" src="{{ url_for('static', filename='icons/listings.jpg') }}">

                        <h3 class="font-weight-bold">Your Listings</h3>
                    </div>
                </a>
            </div>

            <div class="col mx-0 my-3 mx-sm-4 my-sm-4">
                <a href="{{ url_for('orders.viewOrders') }}" class="text-decoration-none listing">
                    <div class="account-navs bg-white text-center p-5">
                        <img class="m-4" id="company-image" src="{{ url_for('static', filename='icons/box.png') }}">

                        <h3 class="font-weight-bold">Your Orders</h3>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col mx-0 my-3 mx-sm-4 my-sm-4">
                <a href="{{ url_for('accounts.security') }}" class="text-decoration-none listing">
                    <div class="account-navs bg-white text-center p-5">
                        <img class="m-4" id="company-image" src="{{ url_for('static', filename='icons/security.png') }}">

                        <h3 class="font-weight-bold">Login & Security</h3>
                    </div>
                </a>
            </div>
        </div>

        
    </div>

{% endblock %}