{% extends "layout.html" %}
{% block content %}

    {% include "account/navigation.html" %}

    {% if not current_user.company %}
        {% set pageLength = 2 %}
    {% else %}
        {% set pageLength = 1 %}
    {% endif %}


    <div class="container py-4">
        <div class="py-2">
            <a class="font-weight-bold listing" href="{{ url_for('accounts.account') }}">Your Account</a> > <span class="font-weight-bold text-success">Create Listings</span>
        </div>

        <div class="progress my-4 mx-2">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <button class="btn btn-back d-none my-3" id="btn-prev" style="font-weight: bold;" page-length="{{ pageLength }}">←</button>

        <div id="slide-1">
            <div class="p-3 m-md-2 text-center">
                <div class="col-md-8 p-lg-4 mx-auto my-3">
                    <h1>Tell us what you are selling</h1>
                    <span>Thank you for helping end food waste!</span>

                    <form id="create-form-1" class="py-5" autocomplete="on" page-length="{{ pageLength }}">
                        {{ form.listing.hidden_tag() }}

                        <div class="row d-flex justify-content-center align-items-end">
                            <div class="form-group col-sm-6">
                                {{ form.listing.lname.label(class="d-block text-left pt-2") }}
                                {{ form.listing.lname(class="form-control form-control-bold", autocomplete="off") }}

                                <small id="lname-error" class="form-text text-muted d-none form-error"></small>
                            </div>

                            <div class="form-group col-sm-6">
                                {{ form.listing.quantity.label(class="d-block text-left pt-2") }}
                                {{ form.listing.quantity(class="form-control form-control-bold", autocomplete="off") }}

                                <small id="quantity-error" class="form-text text-muted d-none form-error"></small>
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.listing.ldescription.label(class="d-block text-left pt-2") }}
                            {{ form.listing.ldescription(class="form-control form-control-bold") }}

                            <small id="ldescription-error" class="form-text text-muted d-none form-error"></small>
                        </div>

                        <div class="row d-flex justify-content-center align-items-end">
                            <div class="form-group col-sm-6">
                                {{ form.listing.date.label(class="d-block text-left pt-2") }}
                                {{ form.listing.date(class="form-control form-control-bold") }}

                                <small id="date-error" class="form-text text-muted d-none form-error"></small>
                            </div>

                            <div class="form-group col-sm-6">
                                {{ form.listing.time.label(class="d-block text-left pt-2") }}
                                {{ form.listing.time(class="form-control form-control-bold") }}
        
                                <small id="time-error" class="form-text text-muted d-none form-error"></small>
                            </div>
                        </div>                   

                        <div class="form-group">
                            {{ form.listing.price.label(class="d-block text-left pt-2") }}
                            {{ form.listing.price(class="form-control form-control-bold price-popover", autocomplete="off", maxLength="5") }}

                            <small id="price-error" class="form-text text-muted d-none form-error"></small>
                        </div>
                 
                        <button type="submit" name="listing-submit" class="btn btn-form btn-register mt-3" id="btn-next-1">Next</button>
                    </form>
                </div>
            </div>
        </div>


        <div class="d-none" id="slide-2">
            <div class="p-3 m-md-2 text-center">
                <div class="col-md-8 p-lg-4 mx-auto my-3">
                    <h1>Picture your listing</h1>
                    <span>We need to show users what they might get!</span>

                    <form id="create-form-2" class="py-5 {% if current_user.company %} submit {% else %} no-submit {% endif %}" autocomplete="on" page-length="{{ pageLength }}">
                        {{ form.listing_image.hidden_tag() }}

                        <div class="img-container img-container-listing listing-image" style="background-image: url({{ url_for('static', filename='uploads/listing_upload/food-default.jpg') }});">
                            <div class="img-overlay img-overlay-listing"></div>
                        </div>

                        <div class="form-group">
                            <label>{{ form.listing_image.image.label }}</label>
                            {{ form.listing_image.image(class="form-control-file", id="create-image-upload") }}

                            <small id="image-error" class="form-text text-muted d-none form-error"></small>
                        </div>

                        {% if not current_user.company %}
                            <button type="submit" name="image-submit" class="btn btn-form btn-register mt-3" id="btn-next-2">Next</button>
                        {% else %}
                            <button type="submit" name="image-submit" class="btn btn-form btn-register mt-3" id="btn-next-2">Post Listing!</button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>

        {% if not current_user.company %}
            <div class="d-none" id="slide-3">
                <div class="p-3 m-md-2 text-center">
                    <div class="col-md-8 p-lg-4 mx-auto my-3">
                        <h1>Tell us the pick-up location</h1>
                        <span>We need to tell users where you want them to pick up the item!</span>

                        <form id="create-form-3" class="py-5" autocomplete="on" page-length="{{ pageLength }}">
                            {{ form.address.hidden_tag() }}

                          
                            <div class="form-group">
                                {{ form.address.street1.label(class="d-block text-left") }}
                                {{ form.address.street1(class="form-control form-control-bold") }}

                                <small id="street1-error" class="form-text text-muted d-none form-error"></small>
                            </div>

                            <div class="form-group">
                                {{ form.address.street2.label(class="d-block text-left") }}
                                {{ form.address.street2(class="form-control form-control-bold") }}

                                <small id="street2-error" class="form-text text-muted d-none form-error"></small>
                            </div>

                         
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    {{ form.address.city.label(class="d-block text-left") }}
                                    {{ form.address.city(class="form-control form-control-bold") }}

                                    <small id="city-error" class="form-text text-muted d-none form-error"></small>     
                                </div>

                                <div class="form-group col-sm-6">
                                    {{ form.address.state.label(class="d-block text-left") }}
                                    {{ form.address.state(class="form-control form-control-bold") }}

                                    <small id="state-error" class="form-text text-muted d-none form-error"></small>
                                </div>
                            </div>
                            

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    {{ form.address.postal.label(class="d-block text-left") }}
                                    {{ form.address.postal(class="form-control form-control-bold") }}

                                    <small id="postal-error" class="form-text text-muted d-none form-error"></small>
                                </div>

                                <div class="form-group col-sm-6">
                                    {{ form.address.country.label(class="d-block text-left") }}
                                    {{ form.address.country(class="form-control form-control-bold form-address") }}

                                    <small id="country-error" class="form-text text-muted d-none form-error"></small>
                                </div>
                            </div>

                            <input type="submit" style="position: absolute; width: 1px; height: 1px; left: -9999px;" tabindex="-1" />
                        </form>

                        <form id="create-form-4">
                            <!-- {{ form.submit(class="btn btn-form btn-register") }} -->
                            <button type="submit" name="submit" class="btn btn-form btn-register mt-3" id="btn-next-4">Post Listing!</button>
                        </form>

                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/modules/pageFunctions.js') }}?version=0" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/createListing.js') }}?version=0" defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaTLbLs6MliN_6Oe9lW7ucid4DIE6ZscY" defer></script>
{% endblock %}