{% extends "layout.html" %}
{% block content %}

    {% include "account/navigation.html" %}


    <div class="container py-4">
        <div class="py-2">
            <a class="font-weight-bold listing" href="{{ url_for('accounts.account') }}">Your Account</a> > 
            <a class="font-weight-bold listing" href="{{ url_for('listings.allListings') }}">Your Listings</a> > 
            <span class="font-weight-bold text-success">Edit Listing</span> 
        </div>


        <div class="card">
            <div class="img-container img-container-listing" style="background-image: url({{ item.Listing.image }});">
                <div class="img-overlay img-overlay-listing"></div>
            </div>

            
            
            <div class="card-body px-4 py-3">
                {% if item.Listing.company %}
                    <div class="position-absolute listing_company d-flex align-items-center">
                        <!-- <div><img class="rounded-circle account-img" id="company-image" src="{{ url_for('static', filename='uploads/company_profile/') }}{{ item.Company.image }}"></div> -->
                        <div><img class="rounded-circle account-img" id="company-image" src="{{ item.Company.image }}"></div>
                        
                        <div><span class="px-2 d-block font-weight-bold">{{ item.Company.name }}</span></div>
                    </div>	
                    <span>{{ item.Company.typeof }}</span>
                {% else %}
                    <div class="position-absolute listing_company d-flex align-items-center">
                        <!-- <div><img class="rounded-circle account-img" id="company-image" src="{{ url_for('static', filename='uploads/profile_pics/') }}{{ item.User.image }}"></div> -->
                        <div><img class="rounded-circle account-img" id="company-image" src="{{ item.User.image }}"></div>
                        
                        <div><span class="px-2 d-block font-weight-bold">{{ item.User.first }} {{ item.User.last }}</span></div>
                    </div>	
                {% endif %}

                <h3 class="card-title m-0">{{ item.Listing.name }}</h3>
                
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-border-none">
                    <div class="row">
                        <div class="col">
                            <img src="{{ url_for('static', filename='icons/time.png') }}" width="20">
                            {% set time = item.Listing.time - today %}
                            {{ time|strftime }}
                        </div>
                    
                        <div class="col text-right font-weight-bold ">
                            £{{ item.Listing.price }}
                        </div>
                    </div>
                </li>
            </ul>

            <div class="card-header"></div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-success">
                    <a href="####" class="text-light">Edit Contents</a>
                </li>
                <li class="list-group-item list-group-item-border-none">
                    <h5 class="font-weight-bold">What you could get</h5> 
                    <p>
                        {{ item.Listing.description }}
                    </p>
                </li>
            </ul>

            <div class="card-header"></div>

            <div class="list-group-item bg-success">
                <a href="####" class="text-light">Edit Collection</a>
            </div>
            <div class="card-body">
                <h5 class="font-weight-bold">Where To Collect</h5>
                <p id="address">
                    {{ item.Address.street1 }}, {{ item.Address.street2 }}, {{item.Address.city}}, {{item.Address.postal}}, {{ item.Address.country }}
                </p>
                <!-- <div id="googleMap" style="height: 250px; "></div> -->
            </div>

            <div class="card-header"></div>

            <div class="card-body">
                <form action="{{ url_for('listings.buyListing', listingId = item.Listing.id) }}" method="POST" autocomplete="off">
                    {{ form.hidden_tag() }}
                    <div class="form-group text-center my-2">
                        {{ form.submit(class="btn btn-form btn-register") }}
                    </div>
                </form>
            </div>
        </div>
        
        <div class="p-4"></div>
    </div>
{% endblock %}