{% extends "layout.html" %}
{% block content %}

    {% include "account/navigation.html" %}

    <div class="container py-4">
        <div class="py-2">
            <a class="font-weight-bold listing" href="{{ url_for('accounts.account') }}">Your Account</a> > <span class="font-weight-bold text-success">Your Listings</span>
        </div>

        {% if listings|length > 0 %}
            <div class="card">
                <div class="card-header btn-form btn-register">
                    <h5 class="font-weight-bold">Your Listings</h5>
                </div>

                {% for listing in listings %}
                    <ul class="list-group list-group-flush">
                        <div>
                            <div class="row px-3 d-flex align-items-center">
                                <div class="col-3 p-0 d-none d-sm-block">
                                    <img id="company-image" style="width: 100%; max-height: 250px; height: 100%; box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);" src="{{ listing.Listing.image }}">
                                </div>

                                <div class="col-12 p-0 col-sm-9 ">
                                    <li class="list-group-item">
                                        <h5 class="font-weight-bold">Listing #{{ listing.Listing.id }} </h5>
                                    </li>

                                    <li class="list-group-item list-group-item-border-bottom-none">
                                        <div class="row">
                                            <div class="col-4">
                                                Name
                                            </div>
                    
                                            <div class="col-8">
                                                {{ listing.Listing.name }}
                                            </div>
                                        </div>
                                    </li>

                                    <li class="list-group-item list-group-item-border-none">
                                        <div class="row">
                                            <div class="col-4">
                                                Price
                                            </div>
                    
                                            <div class="col-8">
                                                £{{ listing.Listing.price }}
                                            </div>
                                        </div>
                                    </li>

                                    <li class="list-group-item list-group-item-border-none">
                                        <div class="row">
                                            <div class="col-4">
                                                Expires
                                            </div>
                    
                                            <div class="col-8">
                                                {{ listing.Listing.time|strftime2 }}
                                            </div>
                                        </div>
                                    </li>

                                    <li class="list-group-item list-group-item-border-none">
                                        <div class="row">
                                            <div class="col-4">
                                                Collection
                                            </div>
                    
                                            <div class="col-8">
                                                {{ listing.Address.street1 }}, {{ listing.Address.city }}
                                            </div>
                                        </div>
                                    </li>

                                    <li class="list-group-item list-group-item-border-none">
                                        <div class="row">
                                            <div class="col-4">
                                                Sold
                                            </div>
                    
                                            <div class="col-8">
                                                {{ listing.Listing.sold|sold }}
                                            </div>
                                        </div>
                                    </li>
                                </div>
                            </div>
                        </div>

                        <li class="list-group-item text-center font-weight-bold">
                            <a href="{{ url_for('listings.edit_listing', listId = listing.Listing.id) }}" class="btn btn-form bg-success">Edit Listing</a>

                            {% if not listing.Listing.sold and listing.Listing.time >= today %}     
                                {% if listing.Listing.active %}                   
                                    <form action="{{ url_for('listings.unlist', listId = listing.Listing.id) }}" class="d-inline" method="POST" autocomplete="off">
                                        {{ unlist.hidden_tag() }}
                                        {{ unlist.submit(class="btn btn-form") }}
                                    </form>
                                    <!-- <a href="" class="btn btn-form">unlist item</a> -->
                                {% else %}
                                    <form action="{{ url_for('listings.relist', listId = listing.Listing.id) }}" class="d-inline" method="POST" autocomplete="off">
                                        {{ relist.hidden_tag() }}
                                        {{ relist.submit(class="btn btn-form") }}
                                    </form>
                                    <!-- <a href="" class="btn btn-form">unlist item</a> -->
                                {% endif %}
                            {% endif %}
                        </li>
                    </ul>

                    <div class="card-header"></div>
                {% endfor %}

                <div class="card-body">
                    <div class="form-group text-center my-2">
                        <a href="{{ url_for('listings.createListing') }}" class="btn btn-form btn-register">Create New Listing</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="p-3 m-md-2 text-center">
                <div class="col-md-8 p-lg-4 mx-auto my-4"> 
    
                    <h1>You currently have no listings</h1>
                    <span>Let's create Some!</span>

                    <div class="my-5">
                        <a class="btn btn-form btn-register m-3" href="{{ url_for('listings.createListing')}}">Create listing!</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}