<div class="nav-scroller bg-light bg-primary shadow-sm">
    <nav class="nav nav-underline">
        <a class="nav-link font-weight-bold listing" href="{{ url_for('accounts.account') }}">Dashboard</a>

        <a class="nav-link font-weight-bold listing" href="{{ url_for('listings.createListing') }}">Create Listing</a>

        <a class="nav-link font-weight-bold listing" href="{{ url_for('listings.allListings') }}">
            Your Listings 
            {% if session.get('listings') %}
                <span class="badge badge-pill bg-white align-text-bottom">{{ session.get('listings') }}</span>
            {% endif %}
        </a>

        <a class="nav-link font-weight-bold listing" href="{{ url_for('orders.viewOrders') }}">
            Your Orders
            {% if session.get('orders') %}
                <span class="badge badge-pill bg-white align-text-bottom">{{ session.get('orders') }}</span>
            {% endif %}
        </a>
        <!-- <a class="nav-link" href="#">Balance</a> -->
        <a class="nav-link font-weight-bold listing" href="{{ url_for('accounts.security') }}">Login & Security</a>
    </nav>
</div>
