{% extends "layout.html" %}
{% block content %}

    {% include "account/navigation.html" %}

    <div class="container py-4">
        <div class="py-2">
            <a class="font-weight-bold listing" href="{{ url_for('accounts.account') }}">Your Account</a> > <span class="font-weight-bold text-success">Your Orders</span>
        </div>

        {% if orders|length > 0 %}

            <div class="card">
                <div class="card-header btn-form btn-register">
                    <h5 class="font-weight-bold">Past Orders</h5>
                </div>


                {% for order in orders %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-border-none d-flex align-items-center">
                            <div class="col-sm-2 col-4">
                                {% if order.Listing.company %}
                                    <!-- <div class="m-md-3"><img class="rounded-circle account-img" id="company-image" src="{{ url_for('static', filename='uploads/company_profile/') }}{{ order.Company.image }}"></div> -->
                                    <div class="m-md-3"><img class="rounded-circle account-img" id="company-image" src="{{ order.Company.image }}"></div>
                                {% else %}
                                    <!-- <div class="m-md-3"><img class="rounded-circle account-img" id="company-image" src="{{ url_for('static', filename='uploads/profile_pics/') }}{{ order.User.image }}"></div> -->
                                    <div class="m-md-3"><img class="rounded-circle account-img" id="company-image" src="{{ order.User.image }}"></div>
                                {% endif %}   
                            </div>

                            <div class="col-sm-10 col-8">
                                <h5>{{ order.Listing.name }} - {{ order.Address.street1 }}, {{ order.Address.city }}</h5>
                                <span class="d-block">{{ order.Orders.time|brought }}</span>
                                <span class="d-block">{{ order.Orders.claimed|claimed(order.Listing.time) }}</span>
                            </div>
                        </li>

                        <li class="list-group-item text-center font-weight-bold">
                            <a href="{{ url_for('orders.reciept', orderId = order.Orders.id) }}" class="btn btn-form">View Reciept</a>
                        </li>
                    </ul>

                    <div class="card-header"></div>
                {% endfor %}


                {% if deletedOrders|length > 0 %}
                    
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center align-items-center">
                            {% if orders|length < session.get('orders') %}
                                <span class="p-2 d-block text-danger">
                                    You have {{ session.get('orders') - orders|length }} orders from unrecognisable sellers. 
                                    These could be sellers who have either deleted their account, or have been banned.
                                </span>

                                <a href="#deleted-modal" data-toggle="modal" class="btn btn-form">View Orders</a>
                            {% endif %}
                        </li>
                    </ul>

                    <div class="modal fade" id="deleted-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Orders from deleted sellers</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <span class="form-error">Seller account has been deleted, some information may be missing or inaccurate</span>
                                        </li>
                                    </ul> -->

                                    {% for deleted in deletedOrders %}
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item  d-flex align-items-center">
                                                <div class="col-4">
                                                    {% if deleted.Listing.company %}
                                                        <div class="m-md-3"><img class="rounded-circle account-img" id="company-image" src="{{ url_for('static', filename='uploads/company_profile/company.png') }}"></div>
                                                    {% else %}
                                                        <div class="m-md-3"><img class="rounded-circle account-img" id="company-image" src="{{ url_for('static', filename='uploads/profile_pics/profile.png') }}"></div>
                                                    {% endif %}   
                                                </div>
                    
                                                <div class="col-8">
                                                    <h5>Order ID #{{ deleted.Orders.id }} - {{ deleted.Listing.name }}</h5>
                                                    <div class="">
                                                        <span class="d-block border-bottom py-1">£{{ deleted.Listing.price }}</span>
                                                        <span class="d-block border-bottom py-1">{{ deleted.Orders.time|brought }}</span>
                                                        <span class="d-block border-bottom py-1">{{ deleted.Orders.claimed|claimed(deleted.Listing.time) }}</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    {% endfor %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-form" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-header"></div>
                {% endif %}

            </div>
        {% else %}
            <div class="p-3 m-md-2 text-center">
                <div class="col-md-8 p-lg-4 mx-auto my-4"> 
    
                    <h1>You currently have no orders</h1>
                    <span>Start searching now to act against food waste!</span>

                    <div class="my-5">
                        <a class="btn btn-form btn-register m-3" href="{{ url_for('main.home')}}">Start ordering!</a>
                    </div>
                </div>
            </div>
            
        {% endif %}
    </div>
{% endblock %}