{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="py-2">
            <a class="font-weight-bold listing" href="{{ url_for('accounts.account') }}">Your Account</a> > 
            <a class="font-weight-bold listing" href="{{ url_for('orders.viewOrders') }}">Your Orders</a> > 
            <span class="font-weight-bold text-success">Order Reciept</span>
        </div>

        <div class="card">
            <div class="card-body text-center">
                <div class="p-3">
                    <h3 class="card-title">Thank you for odering with FoodFlogs!</h3>
                    <span>You have helped save food from the bin in the pursuit to end food waste!</span>
                </div>
            </div>

            <div class="card-header"></div>

            <ul class="list-group list-group-flush">
                {% if item.Listing.company %}
                    <li class="list-group-item list-group-item-border-none text-center">
                        <!-- <div class="m-3"><img class="rounded-circle account-img" id="company-image" src="{{ url_for('static', filename='uploads/company_profile/') }}{{ item.Company.image }}"></div> -->
                        <div class="m-3"><img class="rounded-circle account-img" id="company-image" src="{{ item.Company.image }}"></div>
                        <h5 class="card-title">You Brought From {{ item.Company.name }}</h5>
                        <p>{{ item.Company.typeof }}</p>
                        <span>Thank You!</span>
                    </li>
                {% else %}
                    <li class="list-group-item list-group-item-border-none text-center">
                        <!-- <div class="m-3"><img class="rounded-circle account-img" id="company-image" src="{{ url_for('static', filename='uploads/profile_pics/') }}{{ item.User.image }}"></div> -->
                        <div class="m-3"><img class="rounded-circle account-img" id="company-image" src="{{ item.User.image }}"></div>
                        <h5 class="card-title">You Brought From {{ item.User.first }} {{ item.User.last }}</h5>
                        <span>Thank You!</span>
                    </li>
                {% endif %}

                <li class="list-group-item">
                    <h5 class="font-weight-bold">What You Brought</h5>
                    <span>This is your digital reciept. You can view it at any time under <b>ORDERS</b> in your account page</span>
                </li>

                <li class="list-group-item list-group-item-border-bottom-none">
                    <div class="row">
                        <div class="col-4">
                            #Item Brought:
                        </div>

                        <div class="col-8 text-uppercase">
                            {{ item.Listing.name }}
                        </div>
                    </div>
                </li>

                <li class="list-group-item list-group-item-border-bottom-none">
                    <div class="row">
                        <div class="col-4">
                            #Item Price:
                        </div>

                        <div class="col-8 text-uppercase">
                            £{{ item.Listing.price }} 
                        </div>
                    </div>
                </li>

                <li class="list-group-item list-group-item-border-bottom-none">
                    <div class="row">
                        <div class="col-4">
                            #Item Payment:
                        </div>

                        <div class="col-8 text-uppercase">
                            Pay in person at collection
                        </div>
                    </div>
                </li>

                <li class="list-group-item list-group-item-border-bottom-none">
                    <div class="row">
                        <div class="col-4">
                            #Time:
                        </div>

                        <div class="col-8 text-uppercase">
                            {{ order.time.strftime("%b %d %Y") }} at {{ order.time.strftime("%H:%M") }}
                        </div>
                    </div>
                </li>
            </ul>
         

            <div class="card-header"></div>


            <div class="card-body">
                <h5 class="font-weight-bold">Collection</h5>
                <div class="row">
                    <div class="col-7">
                        <p id="address">
                            {{ item.Address.street1 }}, {{ item.Address.street2 }}, {{item.Address.city}}, {{item.Address.postal}}, {{ item.Address.country }}
                        </p>
                    </div>

                    <div class="col-5 text-right">
                        {{ item.Listing.time|strftime2 }}
                    </div>
                </div>


                <div id="googleMap" style="height: 250px; "></div>
            </div>

            <div class="card-header"></div>

            <div class="card-body text-center my-2">
                <a href="{{ url_for('main.home') }}" class="btn btn-form btn-register">Order more items</a>
            </div>
        </div>
    </div>

    <div class="p-4"></div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/modules/mapFunctions.js') }}?version=0" defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaTLbLs6MliN_6Oe9lW7ucid4DIE6ZscY&callback=initMap" defer></script>

{% endblock %}