{% extends "layout.html" %}
{% block content %}

    {% include "account/navigation.html" %}

    <div class="container py-4">
        <div class="py-2">
            <a class="font-weight-bold listing" href="{{ url_for('accounts.account') }}">Your Account</a> > <span class="font-weight-bold text-success">Login & Security</span>
        </div>

        <div class="card">
            <div class="card-header btn-form btn-register">
                <h5 class="font-weight-bold">Account Details</h5>
            </div>

            
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h5 class="font-weight-bold">Login</h5>
                    <span>Here you can update details about yourself</span>
                </li>

                <form action="{{ url_for('accounts.update_user') }}" method="POST" autocomplete="off" enctype="multipart/form-data">
                    {{ form_details.hidden_tag() }}

                    <li class="list-group-item list-group-item-border-bottom-none py-3">
                        <div class="py-2"></div>
                        <div class="row d-flex align-items-center">
                            <div class="col-4 text-right">
                                <label>{{ form_details.first.label }}</label>
                            </div>

                            <div class="col-8 col-sm-6">
                                {{ form_details.first(class="form-control form-control-bold") }}

                                {% if form_details.first.errors %}
                                    {% for error in form_details.first.errors %}
                                        <small id="first-error" class="form-text text-muted form-error">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item list-group-item-border-none py-3">
                        <div class="row d-flex align-items-center">
                            <div class="col-4 text-right">
                                <label>{{ form_details.last.label }}</label>
                            </div>

                            <div class="col-8 col-sm-6">
                                {{ form_details.last(class="form-control form-control-bold") }}

                                {% if form_details.last.errors %}
                                    {% for error in form_details.last.errors %}
                                        <small id="last-error" class="form-text text-muted form-error">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item list-group-item-border-none py-3">
                        <div class="row d-flex align-items-center">
                            <div class="col-4 text-right">
                                <label>{{ form_details.email.label }}</label>
                            </div>

                            <div class="col-8 col-sm-6">
                                {{ form_details.email(class="form-control form-control-bold") }}

                                {% if form_details.email.errors %}
                                    {% for error in form_details.email.errors %}
                                        <small id="email-error" class="form-text text-muted form-error">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item list-group-item-border-none py-3">
                        <div class="row d-flex align-items-center">
                            <div class="col-4 text-right">
                                <label>{{ form_details.image.label }}</label>
                            </div>

                            <div class="col-8 col-sm-6">   
                                <div class="row d-flex align-items-center">
                                    <div class="col-4"> 
                                        <!-- <img class="rounded-circle account-img d-inline" id="company-image" src="{{ url_for('static', filename='uploads/profile_pics/') }}{{ current_user.image }}" /> -->
                                        <img class="rounded-circle account-img d-inline" id="company-image" src="{{ current_user.image }}" />
                                    </div>

                                    <div class="col-8">
                                        {{ form_details.image(class="form-control-file d-inline") }}

                                        {% if form_details.image.errors %}
                                            {% for error in form_details.image.errors %}
                                                <small id="image-error" class="form-text text-muted form-error">{{ error }}</small>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item list-group-item-border-none py-3">
                        <div class="form-group text-center my-2">
                            {{ form_details.submit(class="btn btn-form btn-register") }}
                        </div>
                    </li>
                </form>
            </ul>

            <div class="card-header"></div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item ">
                    <h5 class="font-weight-bold">Security</h5>
                    <span>Here you can update your password</span>
                </li>

                <form action="{{ url_for('accounts.update_password') }}" method="POST" autocomplete="off">
                    {{ form_password.hidden_tag() }}

                    <li class="list-group-item list-group-item-border-bottom-none py-3">
                        <div class="py-2"></div>
                        <div class="row d-flex align-items-center">
                            <div class="col-4 text-right">
                                <label>{{ form_password.oldPassword.label }}</label>
                            </div>

                            <div class="col-8 col-sm-6">
                                {{ form_password.oldPassword(class="form-control form-control-bold") }}

                                {% if form_password.oldPassword.errors %}
                                    {% for error in form_password.oldPassword.errors %}
                                        <small id="oldPassword-error" class="form-text text-muted form-error">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item list-group-item-border-none py-3">
                        <div class="row d-flex align-items-center">
                            <div class="col-4 text-right">
                                <label>{{ form_password.password.label }}</label>
                            </div>

                            <div class="col-8 col-sm-6">
                                {{ form_password.password(class="form-control form-control-bold strength-popover") }}

                                <!-- <div class="p-3 d-none" id="password-strength">
                                    <div class="progress font-weight-bold" style="height: 20px;">
                                        <div class="progress-bar bg-danger" id="password-strength-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">weak</div>
                                    </div>
                                </div> -->

                                {% if form_password.password.errors %}
                                    {% for error in form_password.password.errors %}
                                        <small id="password-error" class="form-text text-muted form-error">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item list-group-item-border-none py-3">
                        <div class="row d-flex align-items-center">
                            <div class="col-4 text-right">
                                <label>{{ form_password.confirmPassword.label }}</label>
                            </div>

                            <div class="col-8 col-sm-6">
                                {{ form_password.confirmPassword(class="form-control form-control-bold") }}

                                {% if form_password.confirmPassword.errors %}
                                    {% for error in form_password.confirmPassword.errors %}
                                        <small id="confirmPassword-error" class="form-text text-muted form-error">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </li>

              
                    <li class="list-group-item list-group-item-border-none py-3">
                        <div class="form-group text-center my-2">
                            {{ form_password.submit(class="btn btn-form btn-register") }}
                        </div>
                    </li>
                </form>
            </ul>

            <div class="card-header"></div>

            <div class="card-body">
                <div class="form-group text-center my-2">

                    <button type="button" class="btn btn-form btn-register bg-danger" data-toggle="modal" data-target="#delete-account-modal">
                        Delete Account
                    </button>
                </div>
            </div>


            <div class="modal fade" id="delete-account-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Delete Account</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="{{ url_for('accounts.delete_account') }}" method="POST" autocomplete="off">
                            {{ form_delete.hidden_tag() }}

                            <div class="modal-body">
                                <small class="d-block py-3 text-danger">Deleted accounts cannot be recovered and all listings and orders will be removed.</small>


                                <label>{{ form_delete.password.label }}</label>
                                {{ form_delete.password(class = "form-control") }}

                                {% if form_delete.password.errors %}
                                    {% for error in form_delete.password.errors %}
                                        <small id="delete_password-error" class="form-text text-muted form-error">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                {{ form_delete.submit(class="btn btn-form bg-danger") }}                        
                                <button type="button" class="btn btn-form" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}