
// a.nav-link {
//     color: white;
// }

a.dropdown-item {
    border-radius: 6px;
    
    &:active {
        background: transparent;
    }
}


.nav-img {
    width: 30px;
    height: 30px;
}

.navbar {
    border-bottom: 1px solid #f2f2f2;

    &-toggler {
        border: none;
    }   

    &-light {
        background: white;
    }
}

.form {
    &-control {
        border-color: rgba(79,128,84,0.85);
        border-radius: 2px;

        &-bold {
            border: none;
            padding: 25px;
            border-radius: 10px;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
        }
    }

    &-error {
        color: red !important;
    }

    &-address {
        padding: 0;
        height: 50px; // padding = 25px so double padding
    }
}


.btn {
    &-form {
        background-color: #557b97;
        color: white;
        border: none;
        border-radius: 2px;
    }

    &-back {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    }

    &-register {
        background-color: #4b7230;
        border-color: #4b7230;
        letter-spacing: 1px;
        padding: .75rem 1.5rem;
        border-radius: 100rem;
    }
}

.page-footer {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);

}


.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  
.nav-scroller .nav {
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}
  
.nav-underline .nav-link:hover {
    color: #007bff;
}

.card {
    border: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);

    &-header {
        border-top: 1px solid rgba(0,0,0,.125);
        z-index: 3;
    }
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background-color: white;

    &::-webkit-scrollbar {
        display: none;
    }

    .scroller {
        min-width: 350px;
        margin: 0 5px;
    }
}

.account-navs {
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    
    img {
        width: 150px;
        height: 150px;
    }
}

.card-img-top {
    // min-width: 300px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-group-item {
    &-border-none {
        border: none;
    }

    &-border-bottom-none {
        border-bottom: none;
    }
}

.sold-title {
    z-index: 10;
}
