@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
a.dropdown-item {
  border-radius: 6px;
}

a.dropdown-item:active {
  background: transparent;
}

.nav-img {
  width: 30px;
  height: 30px;
}

.navbar {
  border-bottom: 1px solid #f2f2f2;
}

.navbar-toggler {
  border: none;
}

.navbar-light {
  background: white;
}

.form-control {
  border-color: rgba(79, 128, 84, 0.85);
  border-radius: 2px;
}

.form-control-bold {
  border: none;
  padding: 25px;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.form-error {
  color: red !important;
}

.form-address {
  padding: 0;
  height: 50px;
}

.btn-form {
  background-color: #557b97;
  color: white;
  border: none;
  border-radius: 2px;
}

.btn-back {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.btn-register {
  background-color: #4b7230;
  border-color: #4b7230;
  letter-spacing: 1px;
  padding: .75rem 1.5rem;
  border-radius: 100rem;
}

.page-footer {
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.card {
  border: none;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.card-header {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  z-index: 3;
}

.scrolling-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-box-shadow: 0 3px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 30px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background-color: white;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.scrolling-wrapper .scroller {
  min-width: 350px;
  margin: 0 5px;
}

.account-navs {
  -webkit-box-shadow: 0 3px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 30px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.account-navs img {
  width: 150px;
  height: 150px;
}

.card-img-top {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.list-group-item-border-none {
  border: none;
}

.list-group-item-border-bottom-none {
  border-bottom: none;
}

.sold-title {
  z-index: 10;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
  margin: 0;
}

.basket-count {
  background: #557b97;
  padding: 1px 4px;
  border-radius: 60px;
  color: white;
  position: relative;
  left: -15px;
  top: -10px;
  font-size: 12px;
}

.background {
  min-height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.background-pink {
  background: #fbced5;
}

.background-pink-image {
  background-image: url("../img/background1.png");
}

.background-grey {
  background: #f7fafc !important;
}

.i-container {
  background-image: url("../img/footer-img.png");
  width: 100%;
  height: 6.5vw;
  background-size: 65% 100%;
  background-repeat: repeat;
}

.listing_company {
  margin-top: -70px;
  color: white;
  font-size: 20px;
  line-height: 1;
}

.account-img {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  width: 60px;
  height: 60px;
}

.img-container {
  width: 100%;
  min-height: 200px;
  height: 15vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img-container-listing {
  height: 20vw;
}

.img-container .img-overlay {
  width: 100%;
  min-height: 200px;
  height: 15vw;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
}

.img-container .img-overlay-listing {
  position: static;
  height: 20vw;
}

.listing {
  color: #212529 !important;
}

.listing:hover {
  color: #212529 !important;
}
/*# sourceMappingURL=main.css.map */