//Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// Components
@import "bootstrap-styles/bootstrap-styles";

html,body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
    margin: 0;
}

.basket-count {
    background: #557b97;
    padding: 1px 4px;
    border-radius: 60px;
    color: white;
    position: relative;
    left: -15px;
    top: -10px;
    font-size: 12px;
}

.background {
    min-height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    &-pink {
        background: #fbced5;
    }

    &-pink-image {
        background-image: url('../img/background1.png') ;
    }

    &-grey {
        background: #f7fafc!important;
    }
}

.i-container {
    background-image: url('../img/footer-img.png');
    width: 100%;
    height: 6.5vw;
    background-size: 65% 100%;
    background-repeat: repeat;
}


.listing_company {
    margin-top: -70px;
    color: white;
    font-size: 20px;
    line-height: 1;
}

.account-img {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    width: 60px;
    height: 60px;
}

.img-container {
    width: 100%; 
    min-height: 200px;
    height: 15vw; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &-listing {
        height: 20vw;
    }

    .img-overlay {
        width: 100%;
        min-height: 200px;
        height: 15vw; 
        background-color: rgba(0, 0, 0, .3);
        position: absolute;
        top: 0;

        &-listing {
            position: static;
            height: 20vw;
        }
    }
}

.listing {
    color: #212529 !important;

    &:hover {
        color: #212529 !important;
    }
}