{% extends "layout.html" %}
{% block content %}

    <ul class="nav justify-content-center" style="background-color: #8cbe64;">
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('registration.register') }}">
                <img src="{{ url_for('static', filename='icons/logo.PNG') }}" width="120"/>
            </a>
        </li>
    </ul>

    <div class="container">
        <div class="progress my-4 mx-2">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <button class="btn btn-back d-none my-3" id="btn-prev" style="font-weight: bold;">←</button>

        <div id="slide-1">
            <div class="px-3 px-md-5 mx-md-3 text-center">
                <div class="col-md-8 px-lg-4 mx-auto">
                    <h1>Tell us a little bit about you</h1>
                    <span>We need to know who you are so you can log in!</span>


                    <form id="form-1" class="py-5" autocomplete="on">
                        {{ form.about_you.hidden_tag() }}

                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label>{{ form.about_you.first.label }}</label>
                                    {{ form.about_you.first(class = "form-control") }}

                                    <small id="first-error" class="form-text text-muted d-none form-error"></small>
                                </div>

                                <div class="col">
                                    <label>{{ form.about_you.last.label }}</label>
                                    {{ form.about_you.last(class = "form-control") }}

                                    <small id="last-error" class="form-text text-muted d-none form-error"></small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>{{ form.about_you.email.label }}</label>
                            {{ form.about_you.email(class = "form-control") }}

                            <small id="email-error" class="form-text text-muted d-none form-error"></small>
                        </div>

                        <div class="form-group">
                            <label>{{ form.about_you.password.label }}</label>
                            {{ form.about_you.password(class = "form-control strength-popover", autocomplete="on") }}

                            <!-- <div class="p-3 d-none" id="password-strength">
                                <div class="progress font-weight-bold" style="height: 20px;">
                                    <div class="progress-bar bg-danger" id="password-strength-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">weak</div>
                                </div>
                            </div> -->

                            <small id="password-error" class="form-text text-muted d-none form-error"></small>
                        </div>

                        <div class="form-group">
                            <label>{{ form.about_you.confirmPassword.label }}</label>
                            {{ form.about_you.confirmPassword(class = "form-control", autocomplete="on") }}

                            <small id="confirmPassword-error" class="form-text text-muted d-none form-error"></small>
                        </div>

                        <div class="form-group text-center">
                            <!-- {{ form.about_you.submit(class="btn btn-form btn-register mt-3", id="btn-next-1") }} -->
                            <button type="submit" name="about_you-submit" class="btn btn-form btn-register mt-3" id="btn-next-1">Next</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="d-none" id="slide-2">
            <div class="px-3 px-md-5 mx-md-3 text-center">
                <div class="col-md-8 px-lg-4 mx-auto">
                    <h1>Tell us about your company</h1>
                    <span>We need to show user's what your company is!</span>

                    <form id="form-2" class="py-5">
                        {{ form.about_company.hidden_tag() }}

                        <div class="form-group">
                            <label>{{ form.about_company.cname.label }}</label>
                            {{ form.about_company.cname(class = "form-control") }}

                            <small id="cname-error" class="form-text text-muted d-none form-error"></small>
                        </div>

                        <div class="form-group">
                            <label>{{ form.about_company.ctype.label }}</label>
                            {{ form.about_company.ctype(class = "form-control") }}

                            <small id="ctype-error" class="form-text text-muted d-none form-error"></small>
                        </div>

                        <div class="form-group text-center">
                            <!-- {{ form.about_company.submit(class="btn btn-form btn-register mt-3", id="btn-next-2") }} -->
                            <button type="submit" name="about_company-submit" class="btn btn-form btn-register mt-3" id="btn-next-2">Next</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="d-none" id="slide-3">
            <div class="px-3 px-md-5 mx-md-3 text-center">
                <div class="col-md-8 px-lg-4 mx-auto">
                    <h1>Enter your company logo</h1>

                    <form id="form-3" enctype="multipart/form-data">
                        {{ form.company_image.hidden_tag() }}

                        <img class="rounded-circle account-img m-3" id="company-image" src="{{ url_for('static', filename='uploads/company_profile/company.png') }}">


                        <div class="form-group">
                            <label>{{ form.company_image.image.label }}</label>
                            {{ form.company_image.image(class="form-control-file", id="image-upload") }}

                            <small id="image-error" class="form-text text-muted d-none form-error"></small>
                        </div>

                        <div class="form-group text-center">
                            <button type="submit" name="submit" class="btn btn-form btn-register mt-3" id="btn-next-3">Next</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="d-none" id="slide-4">
            <div class="px-3 px-md-5 mx-md-3 text-center">
                <div class="col-md-8 px-lg-4 mx-auto">
                    <h1>Where is your company located?</h1>
                    <span>We need to tell users how to find you!</span>

                    <div class="py-5">
                        <form id="form-4">
                            {{ form.address.hidden_tag() }}

                            <div class="form-group">
                                <label>{{ form.address.street1.label }}</label>
                                {{ form.address.street1(class = "form-control") }}

                                <small id="street1-error" class="form-text text-muted d-none form-error"></small>
                            </div>

                            <div class="form-group">
                                <label>{{ form.address.street2.label }}</label>
                                {{ form.address.street2(class = "form-control") }}

                                <small id="street2-error" class="form-text text-muted d-none form-error"></small>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label>{{ form.address.city.label }}</label>
                                        {{ form.address.city(class = "form-control") }}

                                        <small id="city-error" class="form-text text-muted d-none form-error"></small>
                                    </div>

                                    <div class="col">
                                        <label>{{ form.address.state.label }}</label>
                                        {{ form.address.state(class = "form-control") }}

                                        <small id="state-error" class="form-text text-muted d-none form-error"></small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label>{{ form.address.postal.label }}</label>
                                        {{ form.address.postal(class = "form-control") }}

                                        <small id="postal-error" class="form-text text-muted d-none form-error"></small>
                                    </div>

                                    <div class="col">
                                        <label>{{ form.address.country.label }}</label>
                                        {{ form.address.country(class = "form-control") }}

                                        <small id="country-error" class="form-text text-muted d-none form-error"></small>
                                    </div>
                                </div>
                            </div>

                            <input type="submit" style="position: absolute; width: 1px; height: 1px; left: -9999px;" tabindex="-1" />
                        </form>


                        <form id="form-5">
                            {{ form.hidden_tag() }}
                            <div class="form-group text-center">
                                <!-- {{ form.submit(class="btn btn-form btn-register mt-3", id="btn-next-4") }} -->
                                <button type="submit" name="submit" class="btn btn-form btn-register mt-3" id="btn-next-4">Complete Registration!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="page-footer font-small text-center">
    </footer>

    <script type="text/javascript" src="{{ url_for('static', filename='js/modules/pageFunctions.js') }}?version=0" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/companyRegistration.js') }}?version=0" defer></script>
{% endblock %}