{% extends "layout.html" %}
{% block content %}

    <ul class="nav justify-content-center" style="background-color: #8cbe64;">
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('registration.register') }}">
                <img src="{{ url_for('static', filename='icons/logo.PNG') }}" width="120"/>
            </a>
        </li>
    </ul>

    <div class="container my-5">
        <div class="px-3 px-md-5 mx-md-3 text-center">
            <div class="col-md-8 px-lg-4 mx-auto">
                <h1>Register Your Account</h1>
                <span>We need to know who you are so you can log in!</span>

                <form action="" method="POST" class="py-5" autocomplete="on">
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label>{{ form.first.label }}</label>
                                {{ form.first(class = "form-control") }}

                                {% if form.first.errors %}
                                    {% for error in form.first.errors %}
                                        <small id="first-error" class="form-text text-muted form-error">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="col">
                                <label>{{ form.last.label }}</label>
                                {{ form.last(class = "form-control") }}

                                {% if form.last.errors %}
                                    {% for error in form.last.errors %}
                                        <small id="first-error" class="form-text text-muted form-error">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{ form.email.label }}</label>
                        {{ form.email(class = "form-control") }}

                        {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                    <small id="first-error" class="form-text text-muted form-error">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                    </div>

                    <div class="form-group">
                        <label>{{ form.password.label }}</label>
                        {{ form.password(class = "form-control strength-popover", autocomplete="on") }}

                        <!-- <div class="p-3 d-none" id="password-strength">
                            <div class="progress font-weight-bold" style="height: 20px;">
                                <div class="progress-bar bg-danger" id="password-strength-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">weak</div>
                            </div>
                        </div> -->

                        
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <small id="first-error" class="form-text text-muted form-error">{{ error }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label>{{ form.confirmPassword.label }}</label>
                        {{ form.confirmPassword(class = "form-control", autocomplete="on") }}

                        {% if form.confirmPassword.errors %}
                            {% for error in form.confirmPassword.errors %}
                                <small id="first-error" class="form-text text-muted form-error">{{ error }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-group text-center">
                        {{ form.submit(class="btn btn-form btn-register mt-3", id="btn-next-1") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}