{% extends "layout.html" %}
{% block content %}
    <div class="container py-5">
        <div class="py-2">
            <a class="font-weight-bold listing" href="{{ url_for('accounts.account') }}">Your Account</a> > <span class="font-weight-bold text-success">Orders to Claim</span>
        </div>

        {% for order in orders %}
            <div class="row">
                
                <div class="col mx-0 my-3 mx-sm-4 my-sm-4">
                    <h1 class="font-weight-bold px-4">Order ID #{{ order.Orders.id }}</h1>

                    <div class="account-navs text-center p-5">
                        <div class="py-4">
                            <h3>Order: {{ order.Listing.name }}</h3>
                            <h5>Collect By {{ order.Listing.time.strftime("%b %d %Y") }} at {{ order.Listing.time.strftime("%H:%M") }}</h5>
                            <a href="{{ url_for('orders.reciept', orderId = order.Orders.id) }}" class="btn btn-form">
                                View Reciept and Collection Location
                            </a>
                        </div>

                        <span>Only mark an order as claimed when you have actually collected it!</span>
                        <!-- <h3 class="font-weight-bold ">Create Listing</h3> -->
                        <form action="{{ url_for('orders.claimOrderClaimed', orderId = order.Orders.id) }}" method="POST" autocomplete="off">
                            {{ form.hidden_tag() }}
                            {{ form.submit(class="btn btn-form btn-register btn-lg m-3") }}
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}