<ul class="nav justify-content-center" style="background-color: #8cbe64; ">
    <li class="nav-item text-uppercase">
        <!-- <a class="nav-link active" href="#">Open modal to choose location</a> -->
        <span class="nav-link font-weight-bold" style="color: white;">Help Prevent Food Waste, Use FoodFlogs!</span>
    </li>
</ul>

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.home') }}">
            <img src="{{ url_for('static', filename='icons/logo.PNG') }}" width="120"/>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Household</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Cafe's/Restraunts</a>
                </li> -->
            </ul>


            <ul class="navbar-nav">
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
                        <img src="{{ url_for('static', filename='icons/search.png') }}" class="nav-img"/>
                    </a>
                </li> -->

                <li class="nav-item dropdown">
                    {% if current_user.is_authenticated %}
                        <a class="nav-link" href="#" tabindex="-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{ url_for('static', filename='icons/user.png') }}" class="nav-img" data-toggle="tooltip" data-placement="bottom" title="{{ current_user.first }}  {{ current_user.last }}" />
                        </a>
                    {% else %}
                        <a class="nav-link" href="#" tabindex="-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{ url_for('static', filename='icons/user.png') }}" class="nav-img" data-toggle="tooltip" data-placement="bottom" title="Account" />
                        </a>
                    {% endif %}

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        {% if current_user.is_authenticated %}
                            <a class="dropdown-item" href="{{ url_for('accounts.account') }}">Account</a>
                            <a class="dropdown-item" href="{{ url_for('users.logout') }}">Logout</a>
                        {% else %}
                            <a class="dropdown-item" href="{{ url_for('users.login') }}">Login</a>
                            <a class="dropdown-item" href="{{ url_for('registration.register') }}">Register</a>
                        {% endif %}
                    </div>
                </li>

                {% if session.get('claimed') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('orders.claimOrder') }}" tabindex="-1" aria-disabled="true">
                            <img src="{{ url_for('static', filename='icons/box.png') }}" class="nav-img" data-toggle="tooltip" data-placement="bottom" title="Orders to Claim!"/>
                            <span class="basket-count">{{ session.get('claimed') }}</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>