{% extends "layout.html" %}
{% block content %}
	
	<div class="container py-5">
		{% for type, listing in sortedListings.items() %}
			{% if listing|length > 0 %}
				<div class="row">
					<div class="col">
						<h1 class="font-weight-bold px-4">{{ type }}</h1>
					</div>

					<div class="col text-right">
							<h5 class="font-weight-bold px-4 position-absolute" style="bottom: 0; right: 0;">Swipe For More ➜</h5>
					</div>
				</div>
				
				<div class="scrolling-wrapper">
					{% for item in listing %}	
						<div class="scroller col-sm-5 py-4 d-flex align-items-stretch">
							<form action="{{ url_for('listings.viewListing', listingId = item.Listing.id) }}" method="POST" style="width: 100%;">
								{% if item.Listing.sold %}
									<button type="button" class="btn disabled" name="submit" style="border: none; background: none; text-align: left; width: 100%;">
											<div class="position-absolute m-3 sold-title font-weight-bold btn-form btn-register">Sold Out</div>
								{% else %}
									<button type="submit" name="submit" style="border: none; background: none; text-align: left; width: 100%;">
										<div class="position-absolute m-3 sold-title font-weight-bold btn-form btn-register">{{ item.Listing.quantity }} Left</div>
								{% endif %}
									<div class="card">
										<div class="img-container">
											<img src="{{ item.Listing.image }}" class="card-img-top">
											<div class="img-overlay"></div>
										</div>

										{% if item.Listing.company %}
											<div class="card-body px-4 py-3">
												<div class="position-absolute listing_company d-flex align-items-center">
													<!-- <div><img class="rounded-circle account-img" id="company-image" src="{{ url_for('static', filename='uploads/company_profile/') }}{{ item.Company.image }}"></div> -->
													<div><img class="rounded-circle account-img" id="company-image" src="{{ item.Company.image }}"></div>

													
													<div><span class="px-2 d-block font-weight-bold">{{ item.Company.name }}</span></div>
												</div>	
												<span>{{ item.Company.typeof }}</span>
												
												<h5 class="card-title m-0">{{ item.Listing.name }}</h5>
											</div>
										{% else %}
											<div class="card-body px-4 py-3">
												<div class="position-absolute listing_company d-flex align-items-center">
													<!-- <div><img class="rounded-circle account-img" id="company-image" src="{{ url_for('static', filename='uploads/profile_pics/') }}{{ item.User.image }}"></div> -->
													<div><img class="rounded-circle account-img" id="company-image" src="{{ item.User.image }}"></div>

													
													<div><span class="px-2 d-block font-weight-bold">{{ item.User.first }} {{ item.User.last }}</span></div>
												</div>	

												<h5 class="card-title m-0">{{ item.Listing.name }}</h5>
											</div>

										{% endif %}

										<ul class="list-group list-group-flush">
											<li class="list-group-item list-group-item-border-none">
												<img src="{{ url_for('static', filename='icons/location.png') }}" width="20">
												{{ item.Address.street1 }}, {{ item.Address.city }}
											</li>


											<li class="list-group-item list-group-item-border-none">
												<img src="{{ url_for('static', filename='icons/time.png') }}" width="20">
												{% set time = item.Listing.time - today %}
												{{ time|strftime }}
											</li>

											<li class="list-group-item list-group-item-border-none font-weight-bold btn-form btn-register">
												£{{ item.Listing.price }}
											</li>
										</ul>
									</div>
								</button>
							</form>
						</div>
					{% endfor %}
				</div>
				<div class="my-5"></div>
			{% endif %}
		{% endfor %}

		{% if count <= 0 %}
			<div class="p-3 m-md-2 text-center">
				<div class="col-md-8 p-lg-4 mx-auto my-3">
					<img class="m-3" src="{{ url_for('static', filename='icons/sadface.jpg') }}" style="width: 70px;"/>
					<h1>There is currently nothing available </h1>
					<span>Keep checking back, im sure something will turn up soon!</span>

				</div>
			</div>
		{% endif %}
	</div>
	
{% endblock %}