<!DOCTYPE html>
<html>
    <head xmlns="http://www.w3.org/1999/xhtml" lang="en">
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width = device-width, initial-scale = 1">
        
        {% if title %}
            <title>#Foodflogs | {{title}}</title>
        {% else %}
            <title>#Foodflogs</title>
        {% endif %}

        <link rel="icon" href="{{ url_for('static', filename='icons/tree.png') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.min.css') }}?version=3">
    </head>

    <body>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="modal fade" id="flashedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body text-center my-3">
                                    <h5 class="font-weight-bold ">{{ message }}</h5>
                                    <span>Thanks for using FoodFlogs</span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-form btn-register" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}


        <div class="background background-{{ background }}" style="background-color: #f7fafc!important;">
            {% if header %}
                {% include "header.html" %}
            {% endif %}

            {% block content %} {% endblock %}

                
            {% if header %}
                <div class="i-container"></div>
                <!-- <img src="{{ url_for('static', filename='img/footer-img.png') }}" style="position: absolute; bottom: 0; width: 100%;"/> -->
                <footer class="page-footer font-small position-relative bg-white" style="color: #8cbe64;">
                    <div class="footer-copyright text-center py-3">© 2020 Copyright @ FoodFlogs</div>
                </footer>
            {% endif %}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!-- jquery -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script> <!-- jquery ui -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}?version=12"></script>
    </body>
</html>