{% extends "layout.html" %}
{% block content %}
    {{ form.email.errors }}
    <div class="container">
        <div class="p-3 m-md-2 text-center">
            <div class="col-md-8 p-lg-4 mx-auto my-3">
                <h1>Login</h1>

                <a href="{{ url_for('users.gsuite') }}">  Login with Google </a>

                <form action="" method="POST" autocomplete="on">
                    {{ form.hidden_tag() }} 

                    <div class="form-group">
                        {{ form.email.label(class="d-block text-left pt-2") }}
                        {{ form.email(class = "form-control form-control-bold") }}

                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <small id="first-error" class="form-text text-muted form-error">{{ error }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.password.label(class="d-block text-left pt-2") }}
                        {{ form.password(class = "form-control form-control-bold", autocomplete="on") }}

                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <small id="first-error" class="form-text text-muted form-error">{{ error }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-group form-check text-left">
                        {{ form.remember(class = "form-check-input") }}
                        {{ form.remember.label(class="d-block text-left mt-4") }}
                    </div>
                    
                    {{ form.submit(class = "btn btn-form btn-register") }}

                </form>
            </div>
        </div>
    </div>
{% endblock %}