{% extends "layout.html" %}
{% block content %}

    <div class="container"> 
        <div class="p-3 m-md-2 text-center">
            <div class="col-md-8 p-lg-4 mx-auto my-4"> 

                <h1>Register your interest</h1>
                <span>Join the fight against food waste!</span>

                <a href="{{ url_for('users.gsuite') }}">  Sign up with Google </a>

                <div class="my-5">
                    <a class="btn btn-form btn-register m-3" href="{{ url_for('registration.registerCompany')}}">Im a cafe / restraunt!</a>
                    <a class="btn btn-form btn-register m-3" href="{{ url_for('registration.registerPersonal')}}">Im fighting food waste on my own!</a>
                </div>
            </div>
        </div>
    </div>

    <!-- <img src="{{ url_for('static', filename='icons/tree.png') }}"/> -->
{% endblock %}